#root {
	max-width: none;
	margin: 0 auto;
	background-size: cover;
	min-height: 100vh;
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}
#homepage {
	background-image: url("/assets/images/a.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

#formbg {
	background-image: url("/assets/images/c.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
